        body{
            /* background-color: rgba(0, 0, 255, 0.3); */
            background: url(wall.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;

        }
        .todo{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            margin-top: 18px;
            gap: 0.8rem;
        }
        .todohead{
            font-size: 24px;
            font-weight: 600;
        }
        .taskinput{
            padding: 10px 10px;
            width: 200px;
            height: 15px;
            border: none;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.4);
        }
        .addtask{
            background-color: dodgerblue;
            border: none;
            padding: 10px 15px;
            color: white;
            font-weight: 600;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.4);
        }
        .addtask:hover{
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.9);
            cursor: pointer;
        }
        li{
            list-style-type: auto;
            background-color: dodgerblue;
            padding: 10px 15px ;
            width: 233px;
            /* 165px */
            margin-right: 21px;
            /* 100px */
            font-size: 18px;
            font-weight: 500;
            /* display: flex; */
            /* justify-content: space-between; */
        }
        .list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }